@media (max-width: 1400px) {

}
	
@media (max-width: 1200px) {
    .button {
        &_main {
            width: 260px;
            font-size: 14px;
        }
    }
    .title {
        font-size: 25px;
    }
    .container {
        width: 800px;
        .header {
            &__logo {
                img {
                    width: 85%;
                }
            }
        }
        .promo {
            &__header {
                font-size: 36px;
            }
            &__subheader {
                font-size: 18px;
                line-height: 18px;
            }
            &__icon {
                font-size: 13px;
            }
            &__link {
                font-size: 14px;
            }
        }
        .benefits {
            &__item {
                width: 28%;
            }
            &__subtitle {
                font-size: 16px;
            }
            &__descr {
                line-height: 19px;
                font-size: 13px;
                a {
                    &:hover {
                        font-size: 13px;
                    }
                }
            } 
        }
        .catalog {
            &__content {
                justify-content: space-evenly;
            }
        }
        .feedback {
            &__img {
                width: 149px;
                height: 149px;
            }
            &__name {
                font-size: 17px;
            }
            &__progress {
                font-size: 13px;
            }
            &__review {
                font-size: 15px;
            }
        }

    }
    .tns-item {
        img {
            width: 50%;
        }
    }
    .prev {
        transform: translateY(-72%);
        left: 100px;
    }
    .next {
        transform: translateY(-72%);
        right: 100px;
    }
    #tns1-item1 {
        margin: 0.5% 0;
    }
}
	
@media (max-width: 991px) {
    .button {
        width: 130px;
        font-size: 10px;
        &_main {
            width: 235px;
            font-size: 13px;
        }
        &_submit {
            width: 100%;
            font-size: 16px;
        }
        &_mini {
            width: 115px;
            height: 40px;
            font-size: 11px;
        }
    }
    .title {
        font-size: 21px;
    }
    .container {
        width: 630px;
        .header {
            &__logo {
                img {
                    width: 80%;
                }
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 16px;
            }
        }    
        .promo {
            min-height: 690px;
            background-size: 50px;
            &__header {
                font-size: 34px;
            }
            &__subheader {
                font-size: 16px;
                line-height: 16px;
            }
            &__icon {
                font-size: 12px;
            }
            &__link {
                font-size: 12px;
            }
        } 
        .benefits {
            &__wrapper {
                flex-direction: column;
            }
            &__item {
                margin-top: 55px;
                width: 56%;
                height: 100%;
                &:first-child {
                    margin-top: 0;
                }
            }
            &__subtitle {
                font-size: 19px;
            }
            &__descr {
                line-height: 21px;
                font-size: 15px;
                a {
                    &:hover {
                        font-size: 16px;
                    }
                }
            } 
        }

        .catalog {
            &__tab {
                font-size: 16px;
            }
        }
        .feedback {
            &__item {
                flex-wrap: wrap;
            }
            &__img {
                width: 149px;
                height: 149px;
            }
            &__text {
            margin-left: 0;
            margin-top: 25px;
            }
            &__name {
                font-size: 17px;
            }
            &__progress {
                font-size: 13px;
            }
            &__review {
                font-size: 15px;
            }
        }
    }
    .carousel{
        padding: 100px 0;
    }
    .tns-item {
        img {
            width: 80%;
        }
    }
    .prev, .next {
        display: none;
    }
    .tns-nav{
        display: flex;
        width: 30%;
        left: 35%;
    }
    .tns-outer [aria-controls] {
        height: 23px;
        width: 23px;
    }
}
	
@media (max-width: 767px) {
    .button {
        width: 130px;
        font-size: 10px;
        &_main {
            width: 235px;
            font-size: 13px;
        }
        &_submit {
            width: 100%;
            font-size: 16px;
        }
        &_mini {
            font-size: 12px;
        }
    }
    .title {
        font-size: 21px;
    }
    .container {
        width: 485px;
        .promo {
            &__wrapper {
                align-items: center;
            }
        }
        .benefits {
            &__item {
                width: 74%;
            }
        }
        .catalog {
            &__tab {
                font-size: 14px;
            }
            &-item {
                &__old-price {
                    font-size: 13px;
                }
                &__price {
                    font-size: 19px;
                }
            }
        }
        .feedback {
            &__img {
                width: 129px;
                height: 129px;
            }
        }
    }
    .carousel {
        padding: 80px 0;
    }
    .tns-item {
        img {
            width: 80%;
        }
    }
    .prev, .next {
        display: none;
    }
    .tns-nav{
        display: flex;
        left: 34%;
    }
    .tns-outer [aria-controls] {
        height: 19px;
        width: 19px;
    }
    .footer {
        &__info {
            width: 430px;
            height: 240px;
            padding: 45px 60px 45px 60px
        }
        &__addr {
            margin-bottom: 31px;
            font-size: 18px;
            line-height: 18px;
        }
        &__phone {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 26px;
        }
        &__social {
            margin: 36px auto 0 auto;
            img {
                width: 50px;
                height: 50px;
            }
        }
    } 
    .overlay {
        .modal {
            width: 350px;
            &__subtitle {
                font-size: 16px;
            }
            &__descr {
                font-size: 13px;
            }
        }
        .feed-form_mt25 {
            width: 270px;
            input {
                height: 45px;
            }
        }     
    }
}
	
@media (max-width: 575px) {
    .button {
        width: 130px;
        font-size: 10px;
        &_main {
            width: 200px;
            height: 45px;
            font-size: 12px;
        }
        &_submit {
            width: 100%;
            font-size: 13px;
        }
        &_mini {
            width: 91px;
            height: 37px;
            font-size: 11px;
        }
    }
    .title {
        font-size: 16px;
        &_left {
            font-size: 14px;
            text-align: center;
        }
    }
    .container {
        width: 230px;
        .header {
            width: 210px;
            height: 100px;
            margin: 0 auto;
            flex-direction: column;
            justify-content: space-between;
            &__logo {
                img {
                    display: block;
                    margin: 0 auto;
                    width: 70%;
                }
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 14px;
            }
        }    
        .promo {
            min-height: 690px;
            background-size: 50px;
            &__wrapper {
                margin-top: 90px;
                align-items: center;
            }    
            &__header {
                font-size: 19px;
            }
            &__subheader {
                margin-top: 8px;
                font-size: 9px;
                line-height: 9px;
            }
            &__icons {
                width: 294px;
            }
            &__icon {
                width: 95px;
                font-size: 11px;
                img {
                    width: 40px;
                    height: 40px;
                }
            } 
            &__link {
                font-size: 9px;
                a {
                    &:hover {
                        font-size: 12px;
                    }
                }
            }
        } 
        .benefits {
            &__item {
                width: 100%;
            }
            &__subtitle {
                font-size: 16px;
            }
            &__descr {
                line-height: 21px;
                font-size: 12px;
                a {
                    &:hover {
                        font-size: 14px;
                    }
                }
            } 
        }
        .consultation {
            
            &__descr {
                display: none;
            }
        }
        .feed-form {
            width: 100%;
            input {
                font-size: 13px;
            }
        }
        .catalog {
            &__tabs {
                flex-wrap: wrap;
                margin-top: 60px;
            }    
            &__tab {
                margin: 5px 0;
            }
            &-item {
                &__list {
                    li{
                        font-size: 12px;
                    }
                }
                &__price {
                    font-size: 17px;
                }
            }
        }
        .feedback {
            &__progress {
                font-size: 12px;
                line-height: 9px;
            }
            &__review {
                font-size: 14px;
            }
        }
    }
    .carousel {
        padding: 80px 0;
    }
    .tns-item {
        img {
            width: 100%;
        }
    }
    .prev, .next {
        display: none;
    } 
    .tns-nav{
        display: flex;
        width: 140px;
        top: 106%;
        left: 19%;
    }
    .tns-outer [aria-controls] {
        height: 18px;
        width: 18px;
    }
    .footer {
        &__info {
            width: 100%;
            height: 240px;
            padding: 45px 60px 45px 60px
        }
        &__addr {
            font-size: 14px;
            line-height: 14px;
        }
        &__phone {
            font-size: 16px;
            line-height: 16px;
        }
        &__social {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }   
    .overlay {
        .modal {
            top: 46%;
            width: 320px;
            padding: 43px 25px 44px 25px;
            &__close {
                top: 103%;
                right: 50%;
                transform: translateX(50%);
            }
        }   
    } 
}