.promo {
    min-height: 650px;
    padding: 21px 0 70px 0;
    background-image: url(../img/header/bg.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    background-size: auto;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;
        line-height: 42px;
        color: #FFFFFF;     
    }
    &__subheader {
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
        img {
            display: block;
            margin-bottom: 20px;
            margin: 0 auto;
        }
    }
    &__link {
        margin-top: 18px;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        a {
            color: #FFFFFF;
            text-decoration-line: underline;
            text-transform: uppercase;
            transition: 0.5s all;
            &:hover {
                font-size: 17px;
                font-weight: 700;
                color: $main-color;
            }
        }
    }
}